body{
  background-image: url("../images/burger_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  text-align: center;
  color: white;
}

h2{
  color: white;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
