body{
  background-image: url("../images/burger_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1, 
h2{
  font-family: 'Sigmar One', cursive;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

h1{
  text-align: center;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  list-style: none; /* Remove default bullets */
}

li::before {
  content: "\2022";
  color: white;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  display: inline-block; 
  width: 2em;
  margin-left: -1.5em; 
}
.label {
  font-weight: bold;
}

.create-form {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.form-group {
  margin-bottom: 5px;
}

.devoured{
  color: rgb(95, 95, 95);
  background: lightgray;
}